:root {
    scale: 100%;
}

.keepid-box {
    width: fit-content;
    display: inline-flex;
    
    margin: 0px;
    padding: 6px;

    border-radius: 10px;
    background: white;
    border: 2px solid black;
}

.logo-link {
    width: 58px;
    height: 66px;
}

.pin-input {
    height: auto;
    width: 6ch;

    margin-inline: 8px;
    padding-inline: 8px;

    font-family: monospace;
    font-size: 54px;
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 0px;

    background-color:antiquewhite;
    border: 1.5px solid black;
    /* border-radius: 10px; */
}

.enter-button {
    width: auto;
    height: 62px;

    padding: 0px;

    background-color: rgb(255, 128, 0);
    border: 1px solid black;
    border-radius: 10px;

    color: black;
    text-align: center;
    font-family: "Roboto Condensed", arial, sans-serif;
    font-size: 32px;

    /* button animations */
    cursor: context-menu;
    transition: 0.01s;
    box-shadow: 2px 4px rgb(100, 100, 100)
}

.enter-button:hover {
    background-color: rgb(230, 110, 0);
}

.enter-button:active {
    background-color: rgb(230, 110, 0);
    box-shadow: 1px 2px #666;
    transform: translate(1px, 2px);
  }
