/* KeepId Minimized Popup */
.keepid-popup-min {
    display: block;

    width: fit-content;
    height: 24px;

    padding: 3px;
    padding-left: 6px;

    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(250, 240, 230);

    /* Overlay effects */
    position: fixed;
    z-index: 1;
    right: 5px;
    top: 5px;
}

.keepid-popup-min:hover {
    background-color: rgb(255, 200, 146);
}

.keepid-popup-min:active {
    background: rgb(255, 178, 100)
}

/* KeepId Maximized Popup */
.keepid-popup {
    display: none;
    width: fit-content;

    margin: 0px;
    padding: 4px;
    padding-top: 16px;
    text-align: center;

    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(250, 240, 230);

    /* Overlay effects */
    position: fixed;
    z-index: 1;
    right: 5px;
    top: 5px;

    line-height: 12px;
}

.keepid-min-button {
    width: auto;
    height: 12px;
    padding: 0px;

    border: 0px;
    border-radius: 50%;
    background: transparent;

    position: absolute;
    right: 3px;
    top: 3px; 
}

.keepid-min-button:hover {
    background-color: rgb(255, 200, 146);
}

.keepid-min-button:active {
    background: rgb(255, 178, 100)
}


.keepid-logo-link {
    width: 120px;
    height: auto;
}

.keepid-pin-input {
    height: auto;
    width: 6ch;

    margin-inline: 3px;
    padding-inline: 6px;

    font-family: monospace;
    font-size: 32px;
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 0px;

    background-color:white;
    border: 1.5px solid black;
}

.keepid-info-text {
    height: 100%;
    width: auto;

    color: black;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
